
html,
body{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

body {
    color: #555;
    line-height: 1.5;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    width: 100%;
    height: 80px;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: sticky;
    position: -webkit-sticky;
    top: -32px;
    left: 106px;
    z-index: 9999;
}

.logo {
    width: 106px;
    height: 80px;
    background-color: #f42;
    transform: translateX(-106px);
}

.black-bar {
   width: 100%;
   height: 32px;
   margin: 0;
   box-sizing: border-box;
   background-color:rgb(19, 19, 19);
   font-family: 'Roboto', sans-serif;
   font-size: 0.8rem;
   letter-spacing: 0.02rem;
   padding: 0.2% 0.4%;

}

.white-bar {
    width: 100%;
    height: 48px;
    margin: 0;
    padding-left: 0.7%;
    box-sizing: border-box;
    display: flex;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 7px;
    font-weight: 500;
}

.list-1 {
    float: left;
    color: hsla(0,0%,100%,.6);
    margin: 3px 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    transition-duration: 0.5s;
    background-color: black;
  }

  .second {
    border-top: 1px solid hsla(0,0%,100%,.1);
  }

  .nav-div {
      margin-right: 10px;
      display: flex;
      justify-content: flex-end;
      color: hsla(0,0%,100%,.6);
  }

  .list-2 {
    color: hsla(0,0%,100%,.6);
    margin: 3px 5px;
  }

  .left-ul {
   margin-left: 10px;
  }

.black-bar a:hover{
    color: #fff;
    text-decoration: none;
}

.nav-bar-links {
    display: block;
    color: hsla(0,0%,100%,.6);
    text-decoration: none;
}

.one {
    color: #fff;
}

.white-bar a {
    color: #aaa;
    text-decoration: none;
}

.white-bar a:hover {
    color: black;
    text-decoration: none;
}

.wb-ul {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    list-direction: row;
}

.wb-inner-ul {
    display: inline-block;
    margin-right: 0;
    margin-left: auto;
}

.list-3 {
    font-size: 0.9rem;
    margin: 12px;
    display: inline-block;
    float: left;
}

.list-4 {
    box-sizing: border-box;
    height: 100%;
    display: block;
    float: right;
    margin: 0;
    border-left: 1px #eee solid;
}

.list-4 a {
    box-sizing: border-box;
    margin: 15px 20px;
    vertical-align: top;
}

.list-4 svg {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    fill: #aaa;
}

.two:hover {
    color: #555;
}

.list-4 span {
    transition: .4s;
    background-color:#f42;
    display: block;
    height: 2px;
    width: 20px;
    margin-bottom: 5px;
}

.first-span {
    margin-top: 2px;
}


@media screen and (min-width:768px) {
    .mobile {
        display: none;
        margin: 0;
    }
}

@media screen and (max-width:1024px) {
    .logo {
        transform: translateX(0);
    }

    .logo img {
        width: 100%;
        height: 100%;
    }

    .logo a {
        width: 100%;
        height: 100%;
    }

    .black-bar {
        width: calc(100%-106px);
    }
}

.yellow-bar {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    background-color: #fd3;
    color: #000;
    margin-bottom: -30px;
    padding-left: 1.5%;
    padding-top: 6px;
    font-size: 0.81rem;
    letter-spacing: 0.03rem;
    font-family: 'Lato', sans-serif;
}

main {
    width: 100%;
    height: 1000px;
}

.section-1 {
    width: 100%;
    height: 455px;
    box-sizing: border-box;
    margin-top: 31px;
    padding: 0 8px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.article-1-1 {
    position: relative;
    width: 66%;
    height: 100%;
    box-sizing: border-box;
    z-index: 4;
}

.picture-1 {
    width: 100%;
    height: 100%;
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/08/Steam-Featured-Image-796x417.jpg);
    background-size: cover;
}

.anchor-1 {
    width: 100%;
    height: 100%;
}

.cover-gradient {
    width: 100%;
    height: 100%;
    background: transparent url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png) 0 0 no-repeat;
    background-size: cover;
    mix-blend-mode: normal;
    pointer-events: none;
    opacity: 0.8;
}

.logo {
    width: 40%;
    height: 20%;
    background:transparent url(images/tnw.svg) no-repeat;
    background-size: cover;
    position: absolute;
    left: 120px;
    top: 15px;
    z-index: 5;
}

.date-img {
    position: absolute;
    right: 2%;
    top: 3%;
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 0.89rem;
    letter-spacing: 0.03rem;
}

.topic-1-1 {
    position: absolute;
    padding: 20px 16px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 36%, rgba(0,0,0,1) 79%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 36%,rgba(0,0,0,1) 79%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 36%,rgba(0,0,0,1) 79%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    color: rgba(130, 130, 130, 1);
    font-family: 'Roboto Mono', monospace;
    font-size: 0.84rem;
}

.article-1-1 h2,
.article-1-1 h5 {
    color: #fff;
    margin: 0.1%;
    line-height: 1;
}

.article-1-1 h2 {
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.article-1-1 h5 {
    font-size: 0.95rem;
    font-weight: lighter;
    font-family: 'Roboto Mono', monospace;
}

.section-1 li {
    margin: 0 0.3%;
    line-height: 1.4rem;

}

.header-1-ul {
    display: flex;
    flex-wrap: nowrap;
    margin: 2%;
    margin-left: 0;
    font-family: 'Lato', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    margin-bottom: 0;
}

.header-1-ul a {
    color: hsla(0,0%,100%,.6);
    text-decoration: none;
}

.header-1-ul a:hover {
    color: #fff;
    text-decoration: none;
}

.icon-div {
    display: inline-block;
    width: 1.4rem;
    line-height: 0.84rem;
    vertical-align: middle;
}

.share-icon {
    fill: rgba(130, 130, 130, 1);
    display: inline-block;
}

.article-1-2,
.article-1-3 {
    box-sizing: border-box;
    position: relative;
    width: 33%;
    height: 49.5%;
}

.topic-1-2 {
    position: absolute;
    padding: 10px;
    margin: 0;
    bottom: 1px;
    left: 1px;
    width: 100%;
    box-sizing: border-box;
    color: rgba(130, 130, 130, 1);
    font-family: 'Roboto Mono', monospace;
    font-size: 0.84rem;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 36%, rgba(0,0,0,1) 79%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 36%,rgba(0,0,0,1) 79%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 36%,rgba(0,0,0,1) 79%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.picture-2 {
    width: 100%;
    height: 100%;
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/09/telegram-ton-pavel-durov-facebook-advert-fake-blockchain-796x448.jpg);
    background-size: cover;
}

.article-1-2 h2,
.article-1-2 h5,
.article-1-3 h2,
.article-1-3 h5 {
    color: #fff;
    margin: 0.1%;
    line-height: 1.2;
}

.article-1-2 h2,
.article-1-3 h2 {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.article-1-2 h5,
.article-1-3 h5 {
    font-size: 0.95rem;
    font-weight: lighter;
    font-family: 'Roboto Mono', monospace;
}

.article-1-2 ul,
.article-1-3 ul {
   margin-top: 1%;
}

.article-1-3 {
    background-color: black;
}

.picture-3 {
    width: 100%;
    height: 100%;
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/09/Game-Controllers-796x416.jpg);
    background-size: cover;
}

.section-2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0 5%;
}

.section-2-h2 {
    position: relative;
    left: 12px;
}

.section-2-ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.s2-lis {
    box-sizing: border-box;
    max-width: 21%;
    margin: 0 20px;
}

.img-a {
    display: block;
    height: 0;
    padding-top:50%;
    max-width: 100%;
}

.section-2 a:link,
.section-2 a:visited,
.section-2 a:active {
    color: #000;
    text-decoration: none;
}

.section-2 a:hover {
    color: #f42;
    text-decoration: underline;
}

.section-2-inner-ul{
    display: flex;
}

.sub-links {
    padding: 0;
    margin: 0;
}

.sub-links a:link,
.sub-links a:visited,
.sub-links a:active {
    color:#aaa;
    text-decoration: none;
}

.sub-links a:hover {
    color: #555;
}

.a-1 {
    background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/09/sale_21678_primary_image_wide-540x270.jpg) 0 0 no-repeat;
    background-size:cover;
}

.a-2 {
    background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/09/icecage-796x409.jpg) 0 0 no-repeat;
    background-size:cover;
}

.a-3 {
    background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/09/telegram-ton-pavel-durov-facebook-advert-fake-blockchain-480x270.jpg) 0 0 no-repeat;
    background-size:cover;
}

.a-4 {
    background-image: url(https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2019%2F03%2Fripple-good-place-to-work-cryptocurreny-xrp-blockchain-corporate-private-permissioned.jpg&signature=d80d63e39a45621379ee7007fe2ea1d1);
    background-size:cover;
}

.a-5 {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/08/google-play-store-apps-malware-478x270.jpg);
    background-size:cover;
}

.a-6 {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/09/Dark-Mode-iOS-13-514x270.png);
    background-size:cover;
}

.a-7 {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/09/Untitled-design106-516x270.png);
    background-size:cover;
}

.a-8 {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/08/bitcoin_today-header_bitcoin_today-512x270.jpg);
    background-size:cover;
}
