
html,
body{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

body {
    color: #555;
    line-height: 1.5;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    width: 100%;
    height: 80px;
    margin: 0;  
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: sticky;
    position: -webkit-sticky;
    top: -32px;
}

.logo {
    width: 106px;
    height: 80px;
    background-color: #f42;
    transform: translateX(-106px);
}

.black-bar {
   width: 100%;
   height: 32px;
   margin: 0;
   background-color:rgb(19, 19, 19);
}

.white-bar {
    width: 100%;
    height: 48px;
    margin: 0;
}

.list-1 {
    float: left;
    color: hsla(0,0%,100%,.6);
    margin: 3px 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    transition-duration: 0.5s;
    background-color: black;
  }

  .second {
    border-top: 1px solid hsla(0,0%,100%,.1);
  }

  .nav-div {
      margin-right: 10px;
      display: flex;
      justify-content: flex-end;
      color: hsla(0,0%,100%,.6);
  }

  .list-2 {
    color: hsla(0,0%,100%,.6);
    margin: 3px 5px;
  }

  .left-ul {
   margin-left: 10px;
  }

.nav-bar-links {
    display: block;
    color: hsla(0,0%,100%,.6);
    text-decoration: none;
}

.one {
    color: #fff;
}

.nav-bar-links:hover {
    color: white;
}

.white-bar {
    width: 100%;
    height: 48px;
    display: flex;
}

.white-bar a {
    color: black;
    text-decoration: none;
}

.wb-ul {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    list-direction: row;
}

.wb-inner-ul {
    display: inline-block;
    margin-right: 0;
    margin-left: auto;
}

.list-3 {
    font-size: 0.9rem;
    margin: 12px;
    display: inline-block;
    float: left;
}

.list-4 {
    box-sizing: border-box;
    height: 100%;
    display: block;
    float: right;
    margin: 0;
    border-left: 1px rgba(0, 0, 0, 0.3) solid;
}

.list-4 a {
    box-sizing: border-box;
    margin: 15px 20px;
    vertical-align: top;
}

.list-4 svg {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    fill: rgba(0, 0, 0, 0.3);
}

.list-4 svg:hover {
    fill: rgba(0, 0, 0, 1);
}

.list-4 span {
    transition: .4s;
    background-color:#f42;
    display: block;
    height: 2px;
    width: 20px;
    margin-bottom: 5px;
}

.first-span {
    margin-top: 2px;
}


@media screen and (min-width:768px) {
    .mobile {
        display: none;
        margin: 0;
    }
}

@media screen and (max-width:1024px) {
    .logo {
        transform: translateX(0);
    }

    .logo img {
        width: 100%;
        height: 100%;
    }

    .logo a {
        width: 100%;
        height: 100%;
    }

    .black-bar {
        width: calc(100%-106px);
    }
}
